<!-- <button type="button" (click)="setEnabled()">
  {{enabled ? 'Ocutltar Titulo' : 'Mostrat Titulo'}}
</button> -->

<!-- <div *ngIf="enabled; else notEnabled">
  <h2>{{title}}</h2>
</div>

<ng-template #notEnabled>
  <p>No disponible!!</p>
</ng-template>

<ul *ngIf="enabled">
  <li *ngFor="let coruse of courses">{{coruse}}</li>
</ul> -->

<!-- @if (enabled) {
  <h2>{{title}}</h2>

  <ul>
    @for (coruse of courses; track $index) {
      <li>{{coruse}}</li>
    }
  </ul>

} @else {
  <p>No disponible!!</p>
} -->

<app-product></app-product>